/**********/
/* COMMON */
/**********/
html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 12pt;
  font-family: 'Nimbus Roman';
  background-color: #e2e2e9;
  /* background-color: #1e1f29; */
  /* color: #d3d4df; */
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

code {
  font-size: 10pt;
}

::-moz-focus-inner {
  outline: none;
  border: none;
}

.bold {
  font-weight: bold;
}

#page {
  height: 100%;
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-rows: 100px min-content 1fr;
  grid-template-areas: 'header header' 'menu content' '. content';
  grid-gap: 10px;
}

#header {
  grid-area: header;
  display: grid;
  grid-template-columns: min-content 3fr 1fr;
  grid-gap: 25px;
  background-color: #d3d3de;
  align-items: center;
}
#header img {
  height: 100px;
  width: auto;
}

#header-language {
  align-self: start;
  justify-self: end;
  margin-right: 25px;
  margin-top: 25px;
  padding: 3px;
  text-decoration: underline;
  font-size: 14pt;
  cursor: pointer;
}

#menu {
  grid-area: menu;
  background-color: #c5c5d3;
  border: 1px solid #373749;
  border-radius: 3px;
  display: inline-grid;
  grid-auto-rows: 50px;
  margin-left: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
  font-size: 14pt;
}

.menu-item:hover {
  background-color: #a8a8bd;
}

.menu-item:active {
  background-color: #8b8ba7;
}

.center-text {
  text-align: center;
}

/********/
/* HOME */
/********/

#home-page {
  grid-area: content;
  margin: 0 20px;
  display: inline-grid;
  grid-template-rows: 25px 50px repeat(2, 50px min-content);
}

#home-page h2 {
  margin-top: 20px;
}

.group-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr) minmax(300px, 1fr);
  grid-template-rows: minmax(min-content, 30px);
  grid-auto-rows: 80px;
  border-top: 1px solid #373749;
  border-left: 1px solid #373749;
}

.group-table div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #373749;
  border-right: 1px solid #373749;
  padding: 2px;
}

.group-table-title {
  background-color: #d3d3de;
  font-size: 13pt;
}

.group-table-row {
  line-height: 22px;
}

/***********/
/* CLASSES */
/***********/
#classes-page {
  grid-area: content;
  margin: 25px;
}

#classes-page a {
  text-decoration: underline;
}

.class-table {
  display: grid;
  grid-template-columns: 1fr 3fr repeat(4, 4fr);
  grid-template-rows: 30px;
  grid-auto-rows: 80px;
  border-top: 1px solid #373749;
  border-left: 1px solid #373749;
}

.class-table div:first-child {
  grid-column: 1 / span 2;
}

.class-table div {
  border-bottom: 1px solid #373749;
  border-right: 1px solid #373749;
}

.class-table-header {
  background-color: #d3d3de;
  font-size: 13pt;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.class-table-row {
  display: grid;
  grid-auto-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 0;
}

.chapter-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chapter-cell a {
  margin: 5px;
}

.class-table-break-row {
  display: grid;
  grid-auto-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px 0;
  background-color: #c5c5d3;
}

.break-name-cell {
  grid-column: 3 / -1;
}

/******/
/* TD */
/******/

.td-page a {
  text-decoration: underline;
}

.td-page {
  grid-area: content;
  margin: 25px;
}

.td-page h1 {
  margin-bottom: 25px;
}

.td-page h2 {
  padding-bottom: 2px;
  margin: 25px 0;
  border-bottom: 2px solid #6e6e91;
}

.td-page p {
  margin: 10px 0;
}

.td-page li {
  margin: 5px;
}

/********/
/* PLAN */
/********/

#plan-page {
  grid-area: content;
  margin: 25px;
}

#plan-page a {
  text-decoration: underline;
}

#plan-page ol {
  counter-reset: item;
}

#plan-page ol li {
  display: block;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

#plan-page ol li::before {
  display: inline-block;
  content: counter(item) ' - ';
  counter-increment: item;
  width: 2em;
  margin-left: -2em;
}

#plan-page h1 {
  margin-bottom: 25px;
}

#plan-page h2 {
  padding-bottom: 2px;
  margin: 25px 0;
  border-bottom: 2px solid #6e6e91;
}

#eval-table {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(4, 1fr);
  border-left: 1px solid black;
}

#eval-table div {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 8px 10px 5px 10px;
}

#eval-table div:nth-child(1),
#eval-table div:nth-child(2),
#eval-table div:nth-child(3) {
  border-top: 1px solid black;
  font-weight: bold;
}

#eval-table div:nth-child(3n + 3) {
  text-align: end;
}

/************/
/* NOTFOUND */
/************/

#notfound {
  font-size: 24pt;
  text-align: center;
  font-weight: bold;
  padding-top: 25px;
}

/*************/
/* Exercises */
/*************/
#all-exercises-page {
  grid-area: content;
  margin: 25px;
  display: grid;
  grid-template-rows: 50px;
  grid-auto-rows: 50px;
  align-items: center;
}

#all-exercises-page a {
  text-decoration: underline;
}

#all-exercises-page h1 {
  align-self: start;
}

#all-exercises-page h2 {
  padding: 0;
  border-bottom: 2px solid #6e6e91;
}

#exercises-page {
  grid-area: content;
  margin: 25px;
  display: grid;
  grid-template-rows: 75px auto;
}

#exercises {
  display: grid;
  grid-auto-rows: min-content;
  grid-gap: 40px;
  padding-bottom: 100px;
}

.exercise {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 10px;
}

.question {
  grid-row: 1;
}

.answer {
  grid-row: 2;
}

.show-button {
  grid-row: 3;
  text-decoration: underline;
  cursor: pointer;
}
